# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env/

# FAISS index can be large → optional
*.index

# Node
node_modules/
dist/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Keys
*.key
*.pem
